.no-items-container {
 height: 83vh;

  background-color: #f9ecee;
}

.left-message {
  flex: 1;
  text-align: left;
  color: black;
}

.center-message {
  flex: 2;
  text-align: center;
  color: black;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  flex: 1 0 20%; /* Adjust the width of the items */
}

.menu-item img {
  max-width: 40%;
  height: auto;
}

.menu-item h3 {
  margin: 10px 0;
}

.menu-item p {
  margin: 5px 0;
}

.btn.btn-success {
  margin-top: 10px;
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}

.dropdownn .dropdown-toggle{
  border: solid 1px #9A5865;
margin-left: 15px;
  color: #9A5865;
  height: 50px;
  font-size: 16px;
    transition: border-color 0.3s ease;

}
.dropdownn .dropdown-toggle:hover{
  color: white;
  background-color: #a4374d;
  border: #9A5865;
  

}