.input-reset{
    margin-bottom: 20px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9A5865;
    outline: none;
    font-size: 18px;
  }
  .input-reset:hover {
    border-bottom: 2px solid #9A5865; /* Change to the desired hover color */
  }
  
  /* Add focus effect for the input fields */
  .input-reset :focus {
    border-bottom: 2px solid #9A5865; /* Change to the desired focus color */
  }
  
  /* Placeholder styling */
  .input-reset::placeholder {
    color: #CFA2A7; /* Change to the desired placeholder color */
    opacity: 1; /* Ensure full opacity for the placeholder */
  }
  
  /* Placeholder styling on focus */
  .input-reset:focus::placeholder {
    color: #a48a64; /* Change to the desired color when the input is focused */
  }
  .button-reset{
    padding: 10px;
        border: none;
        background-color: #9A5865;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
  }
  .button-reset :hover{
    background-color: #b93852;
  }
  .reset-div{
    display: flex;
    flex-direction: column;
  }